# Ignore node_modules
/node_modules

# Ignore package lock file
package-lock.json

# Ignore build directory
/build

# Ignore VSCode configuration
.vscode

# Ignore Mac directory configuration
.DS_Store